

#background {
    background-image: url("https://cdn.pixabay.com/photo/2013/02/21/19/10/grass-84622__340.jpg");
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.content {
    position: relative;
    z-index: 1;
}

/* Navbar - Start */
nav {
    background-color: green;
    height: 50px;
    margin-bottom: 15px;
}

.header {
    padding-top: 10px;
}


a:link {
    color: honeydew;
    padding-right: 20px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    text-align: right;
    margin-left: 0%;
}

a:hover {
    color: #c4b7a6;
}

#sale{
    padding-top: 2px;
    padding-left: 400px;
    font-size: 20px;
    color: antiquewhite;
}

#home{
    color: honeydew;
    text-decoration: none;
}

/* Navbar - End */

/* Section - Start */

h2{
    font-family: "function_promedium";
}

h3{
    font-family: "function_probook";
    color: black;
    text-align: center;
    font-size: 25px;
}

h4{
    text-align: center;
    font-size: 22px;
    color: tomato;
}

span{
    font-family: "function_probook",sans-serif;
    font-size: 20px;
    
}

/* Section - End */

/* Aside - Start */
.yanbar{
    margin-left: 100px;
    position: fixed;
    color: black;
}

i{
    font-size: 40px;
}
/* Aside - End */


.col-sm-4:hover{
    opacity: 0.9;
}

h5{
    font-size: 32px;
    color: tomato;
}

button{
    float: right;
    
}

#sepet{
    color: white;
    font-size: 16px;
}

sepet:hover{
    opacity: 0.7;
}

button{
    height: 50px;
    width: 140px;
}

.big{
    text-align: center;
    font-size: 22px;
    color: tomato;
}

.sm{
    color: tomato;
}

h1{
    font-family: "function_probook",sans-serif;
    text-align: center;
    font-size: 29px;

}